name: NanoPBM CI test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: install
      run: | 
        sudo apt update
        sudo apt install libopenblas-dev build-essential cmake -y
        git submodule update --init --recursive
        chmod +x ./compile_all.sh
        ./compile_all.sh -d -i -n 2
    - name: ctest
      run: |
        cd build
        ctest --output-on-failure -j2 