name: NanoPBM CI test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: install
      run: | 
        sudo apt update
        sudo apt install libopenblas-dev build-essential cmake -y
        chmod +x ./compile_all.sh
        ./compile_all.sh -i -n 2
    -name: ctest
    run: ctest --output-on-failure -j2 